{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
{% block content %}
{% block css %}
{% endblock %}

<link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
<body>
    <h1>Products for Subcategory: {{ subcategory.name }}</h1>
    <div class="card-container">
        {% for product in products %}
        <div class="card">
            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="product_id">{{ product.name }}</h5>
                <p>{{ product.price }}</p>
                {{ 'product.image.url' }}
                <span class="badge bg-warning text-dark">New</span>
                <span class="badge badge-banner">Special Offer</span>
                <a href="{% url 'goods:product' product_slug=product.slug %}">Ссылка</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
